h1 {
    font-size: 2em;
    color: #202124;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5em;
    color: #5f6368;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: #3c4043;
}
